
.spinchart-high{
  height: 10px !important;
  width: 600px !important;
  margin-left:255px !important;
}


.barchart-high{
  height: 10px !important;
  width: 10px !important;
  margin-left:850px !important;
}
